# production build of site
dist/
temp/

# Dependency directories
# Commenting this out is preferred by some people, see
# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/
app/bower_components/

# Users Environment Variables
**/.DS_Store