<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
	<title>Advanced Angular Weather App</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="main.css">
</head>
<body ng-cloak>

<section ng-controller="MainCtrl" class="form-inline">	
	<section ng-class="search" class="form-group">
		<input type="text" class="form-control" name="search" ng-model="searchCity">
		<button ng-click="getCurrent()" class="btn btn-default">search</button>
		<span>{{error}}</span>
	</section>

	<weather weather="weather"></weather>

 	<section ng-class="forecast" ng-show="forecast.length > 0">
		<ul>
			<li>
				<span>Lo</span>
				<span>Hi</span>
				<span>Conditions</span>
			</li>
			<li ng-repeat="weather in forecast">
				<span>{{weather.tempMin}}</span>
				<span>{{weather.tempMax}}</span>
				<span>{{weather.conditions}}</span>
			</li>
		</ul>
	</section>
</section>


<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
<script src="weather.module.js"></script>
<script src="weather.controller.js"></script>
<script src="weather.service.js"></script>
<script src="weather.directive.js"></script>
</body>
</html>