<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
	<title>Advanced Angular Weather App</title>
</head>
<body ng-cloak>

<section ng-controller="MainCtrl">	
	<section ng-class="search">
		<input type="text" name="search" ng-model="searchCity">
		<button ng-click="getCurrent()">search</button>
		<span>{{error}}</span>
	</section>

	<section ng-class="current" ng-show="weather">
		<h4>{{weather.location}}</h4>
		<div>Current Temp: {{weather.temp}}</div>
		<div>Lo: {{weather.tempMin}}</div>
		<div>Hi: {{weather.tempMax}}</div>
		<div>Current Conditions: {{weather.conditions}}</div>
	</section>

	<section ng-class="forecast" ng-show="forecast.length > 0">
		<ul>
			<li>
				<span>Lo</span>
				<span>Hi</span>
				<span>Conditions</span>
			</li>
			<li ng-repeat="weather in forecast">
				<span>{{weather.tempMin}}</span>
				<span>{{weather.tempMax}}</span>
				<span>{{weather.conditions}}</span>
			</li>
		</ul>
	</section>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="script.js"></script>
</body>
</html>